@charset "utf-8";


*{margin: 0; padding: 0;}
*, *:after, *:before{box-sizing:border-box;}
html{overflow-y:scroll;}
html, body{height: 100%;}
li,dl,dd{list-style: none;}
img{max-width: 100%;border: none;vertical-align: middle;}
fieldset{border: none;}
body, input, select, textarea{font:13px/1.3 Nanum Gothic, '나눔고딕',dotum, '돋움', Magun Gothic, '맑은고딕', gulim,"굴림", sans-serif; color: black;}
h1, h2, h3, h4, h5, h6, address{font-size: 100%;font-weight: normal;font-style:normal; }
.blind, legend, hr{position: absolute;left: -9999px;}
caption{text-indent:-9999px;width: 0;height: 0;font-size: 1px;overflow: hidden;visibility:hidden;}
a{color:#666;text-decoration: none;}
a:hover{color:#307335;}
table{border-collapse: collapse; width: 100%;}
.clearfix:after {content:"";display: block;clear:both;}
.clearfix{*zoom:1;}
button, input[type=button]{cursor:pointer;}
.grid .row:after {content:"";display: block;clear:both;}
.inner{max-width: 1100px; margin: 0 auto; position: relative;}

/* top 영역*/
#wrap{max-width: 1100px;position: relative;margin: 0 auto;}
#header{max-width: 1100px;height: 80px;position: relative;margin: 0 auto; background: #fff;}
.header_wrap h1{float: left; padding-top: 21px;}
#util_menu{position: absolute; top: 12px; right: 0;}
#util_menu li{float: left; padding-left: 13px; margin-left: 12px;
			 background:url(../imgs/common/bg_utill_bar.png) 0 3px no-repeat;}
#util_menu li:first-child{margin: 0; padding: 0; background:none; }
#util_menu li a{font-size: 11px; color: #888;}
#util_menu li a:hover, #util_menu li a:focus{color:#307335;}
#gnb{float: right; padding: 40px 0 0 100px;width: 65%; }
#gnb li{float:left; width: 20%;}
#gnb li:first-child{margin:0;}
#gnb li a{ font-size: 16px; font-weight: 500; color: #666;}
/* //top 영역*/

/*풋터*/
#footer{background: url(../imgs/common/q_bg.jpg) center top no-repeat; width: 100%; position: relative;margin: 0 auto;}
.sitemap_wrap{padding-top: 45px; margin-bottom: 80px;}
.sitemap_left{float: left; width: 25%;}
.time_info{padding-left: 105px; background: url(../imgs/common/clock.png) 30px 8px no-repeat; color:#aaa; padding-right: 5px; margin-bottom: 20px;}
.time_info p{text-align: right;}
.time_info p:first-child{padding-bottom: 14px;}
.weather_info{border-top: 1px solid #40423e; height: 80px;}
.weater_bg{margin-top: 20px; color: #aaa; padding-left: 130px; background:  url(../imgs/common/sun.png) 30px 0 no-repeat; height: 62px; }
.weater_bg div{ text-align: right; font-size: 17px; }
.weater_bg div+p{text-align: right; font-size: 30px; background: url(../imgs/common/bg_main_tem.png) right 1px no-repeat; padding-right: 20px;}
.sitemap_right{float: left; width: 65%; margin-left: 10%; padding-right: 30px;}
.sitemap_menu li{ float: left; width: 20%; text-align: right;}
.sitemap_menu >li >a{ color: #ccc; font-size: 16px; display: block; padding-bottom: 18px; font-weight: 500;}
.sitemap_menu >li ul li{width: 100%;height: 25px; }
.sitemap_menu >li ul li a{color: #666; font-size: 14px;}
.sitemap_menu >li ul li a:hover{color:#307335;}
.sns_box{position: absolute; bottom: -20px; right: 20px;}
.sns_box li{float: left; margin-left: 10px;}
.footer_bottom{background: #242624;}
.footer_bottom address{height:46px; line-height: 46px; color: #888; font-weight: 400; padding-left: 20px;}
.footer_bottom button{position: absolute; bottom: 0; right: 0; border:none; width: 46px;height: 46px;}

/*//풋터*/
